/* google font work sans used */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,500;1,600&family=Edu+NSW+ACT+Foundation:wght@600&family=Inter:wght@100;500;600&family=Open+Sans:wght@700&family=Poppins:wght@500&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@1,900&family=Work+Sans:wght@400;600;700;800&display=swap');

*{
    box-sizing: border-box;
}

/* header style */

.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    width: 50%;
    
}
.logo-container img{
    width: 70px;
    height: 40px;
    margin-top: 50px;
    margin-right: 15px;
}
.logo-container p{
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item-container a{
    text-decoration: none;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    color: #3C354F;
}
.prm-color{
    color: #FF42A5;
}
.follow-btn{
    background-color: #E7E6E9;
    padding: 10px 20px;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    border-radius: 8px;
    color: #3C354F;
    
}
.follow-btn img{
    height: 15px;
    width: 15px;
    align-items: center;
}
/* header done */
/* banner section */
.banner-section{
    max-width: 1000px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}
.banner-text{
    width: 50%;
    background-color: #FBF6FD;
    padding: 20px 0;
}
.banner-text h1{
    color: #0B0223;
    
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 2px 0;
}
.banner-text h2{
    
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin: 2px 0;
}
.banner-text p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.banner-image{
    width: 50%;
}
.banner-image img{
    width: 100%;
}
.sign-btn{
    padding: 21px 40px;
    border: 0;
    border-radius: 3rem;
    background-color: #FF42A5;
    color: #fff;
    margin-right: 10px;
}
.go-btn{
    padding: 21px 40px;
    border: 0;
    border-radius: 3rem;
    color: #fff;
    background-color: #4EC5F7;
}
/* banner done */
/* gmaer section starts */
.gamer-section{
    max-width: 1000px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer-image{
    width: 50%;
}
.gamer-image img{
    width: 100%;
}
.gamer-text{
    width: 50%;
}
.gamer-text h1{
    text-align: right;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.gamer-text p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
.gamer-btn{
    padding: 21px 40px;
    border: 0;
    border-radius: 3rem;
    color: #fff;
    background-color: #F948B2;
    margin-left: 350px;
    
}
.gamer-text h4{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
}
.gamer-text h3{
    color: #534C64;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    text-align: right;
    line-height: 2.8rem;
}
/* gamer style end */
@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
        width: auto;
    }
    .nav-item-container{
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    .nav-item-container a{
        margin-top: 20px;
        width: auto;
        align-items: center;
    }
    .follow-btn{
        text-align: center;
        align-items: center;
    }
    .banner-section{
        flex-direction: column-reverse; 
        width: auto;
     }
     .banner-image{
         width: 100%;
     }
     .banner-text{
        width: 100%;
        justify-content: center;
        text-align: center;
     }
     .gamer-section{
        flex-direction: column;
        width: auto;
     }
     .gamer-image{
        width: 100%;
     }
     .gamer-text{
        width: 100%;
        justify-content: center;
        text-align: center;
     }
     .gamer-btn{
        text-align: center;
        justify-content:center;
        align-items: center;
        margin: 2px 30px;
     }
     .gamer-text p{
        text-align: center;
     }
     .gamer-text h3{
        text-align: center;
     }
     .gamer-text h4{
        text-align: center;
     }
     .gamer-text h1{
        text-align: center;
     }
    
}

